{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": true,    
        "jsx": true,        
        "decorators": true,  
        "dynamicImport": true 
      },
      "transform": {
        "react": {
          "runtime": "automatic" 
        }
      }
    },
    "module": {
      "type": "es6"
    }
}
  